{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}